.container1{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #dae2f8, #d6a4a4);
}

.btn{
    margin-top: 2.5rem;
    padding: 5px 6rem;
    margin-left: 28px;

}
.password_box{
    margin-top: 4rem;
    margin-bottom: 1rem;
    
}