<div class="container1">
    <div class="card" style="width: 20rem;height: 22rem;">
      <div class="card-body">
        <form (ngSubmit)="submit(myForm)" #myForm="ngForm">
       <h2 class="text-center"> Set New Password</h2>
          <div class="password_box">
            <input type="password" class="form-control" placeholder="New Password" name="newPassword" ngModel ><br>
            <input type="password" class="form-control" placeholder="confirm Password" name="confirmPassword" ngModel>
          </div>
          <button class="btn btn-primary " style="background-color: mediumpurple;" > confirm </button>
        </form>
       </div>
    </div>
    </div>