.container1{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #dae2f8, #d6a4a4);
}
input{
    margin-top: 4rem;
}

.btn{
    margin-top: 2.5rem;
    padding: 5px 6rem;
    margin-left: 28px;
}

.btn_div{
    display: flex;
    justify-content: center;
}

.login_btn{
    padding: 5px 3rem;
    border-radius: 10px;
    background-color: beige;
}