<div class="container1">
<div class="card" style="width: 20rem;height: 20rem;" *ngIf="link!=true" >
  <div class="card-body">
   <form (ngSubmit)="submit(myForm)" #myForm="ngForm">
   <h2 class="text-center"> Forgot Password</h2>
      <input type="email" class="form-control" placeholder="Enter Your Email" name="email" ngModel >
      <button class="btn btn-primary" style="background-color: mediumpurple;" > Verify </button>
   </form>
   </div>
</div>
<div class="text_link" *ngIf="link!=false">
   <h1> Your Reset password link is send to your mail !</h1>
   <div class="btn_div">
      <button class="login_btn" routerLink="../login"> Login </button>
   </div>
 </div>
</div>


<DIV>
   <H2> tHERE IS A TAG </H2>
</DIV>